name: Java CI/CD Pipeline with SAST, SCA and DAST

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-app:
    runs-on: ubuntu-latest

    container:
      image: maven:3.9.10-eclipse-temurin-17

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Build with Maven Wrapper
        run: ./mvnw -B clean package

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vuln
          path: ./target/*.jar

  sast:
    name: SAST Security Scan
    runs-on: ubuntu-latest
    needs: build-app
    steps:
      - uses: actions/checkout@v4

      - run: |
          python3 -m pip install semgrep
          semgrep scan --config=auto --sarif --output=semgrep-results.sarif .

      - uses: actions/upload-artifact@v4
        with:
          name: sast-sarif-report
          path: semgrep-results.sarif
          retention-days: 7

      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep-results.sarif

  sca:
    name: SCA Dependency Check
    runs-on: ubuntu-latest
    needs: build-app

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - run: mvn verify -DskipTests

      - uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: target/dependency-check-report.html
          retention-days: 7

  zap-baseline:
    runs-on: ubuntu-latest
    needs: build-app

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: vuln
          path: ./target

      - name: Create ZAP rules file
        run: touch zap-rules.tsv

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Run application
        run: |
          java -jar target/*.jar &
          sleep 30

      - name: Make workspace writable for ZAP
        run: chmod -R 777 "$GITHUB_WORKSPACE"

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        continue-on-error: true
        with:
          target: "http://localhost:8080"
          rules_file_name: "zap-rules.tsv"
          cmd_options: "-r zap-baseline-report.html"
          allow_issue_writing: false

      - name: Upload ZAP Baseline report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zap-baseline-report
          path: zap-baseline-report.html

  zap-api:
    runs-on: ubuntu-latest
    needs: build-app

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: vuln
          path: ./target

      - name: Create ZAP rules file
        run: touch zap-rules.tsv

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Run application
        run: |
          java -jar target/*.jar &
          sleep 30

      - name: Make workspace writable for ZAP
        run: chmod -R 777 "$GITHUB_WORKSPACE"

      - name: ZAP API Scan
        uses: zaproxy/action-api-scan@v0.10.0
        continue-on-error: true
        with:
          target: "http://localhost:8080/v3/api-docs"
          rules_file_name: "zap-rules.tsv"
          cmd_options: "-f openapi -r zap-api-report.html"
          allow_issue_writing: false

      - name: Upload ZAP API report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zap-api-report
          path: zap-api-report.html