name: Java CI/CD Pipeline with SAST and SCA

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9-eclipse-temurin-21
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Maven
        run: mvn clean compile test package

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: target/*.jar
          retention-days: 7

  sast:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install and run Semgrep
        run: |
          python3 -m pip install semgrep
          semgrep scan --config=auto --sarif --output=semgrep-results.sarif .

      - name: Save SARIF file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: sast-sarif-report
          path: semgrep-results.sarif
          retention-days: 7

      - name: Upload SARIF report to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep-results.sarif

  sca:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        run: mvn org.owasp:dependency-check-maven:check -Dformat=HTML -DsuppressionFiles=dependency-check-suppressions.xml

      - name: Upload Dependency-Check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: target/dependency-check-report.html
          retention-days: 7